@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables/index';

@import './mixins/index';

@import './base/index';

.ql-editor {
  min-height: 290px;
}

.ql-snow .ql-picker.ql-lineheight .ql-picker-label::before {
  content: '行高';
  font-size: 12px;
  width: 80px;
}
.ql-snow .ql-picker.ql-lineheight .ql-picker-label[data-value='1']::before,
.ql-snow .ql-picker.ql-lineheight .ql-picker-item[data-value='1']::before {
  content: '行高 1';
}
.ql-snow .ql-picker.ql-lineheight .ql-picker-label[data-value='1.5']::before,
.ql-snow .ql-picker.ql-lineheight .ql-picker-item[data-value='1.5']::before {
  content: '行高 1.5';
}
.ql-snow .ql-picker.ql-lineheight .ql-picker-label[data-value='1.75']::before,
.ql-snow .ql-picker.ql-lineheight .ql-picker-item[data-value='1.75']::before {
  content: '行高 1.75';
}
.ql-snow .ql-picker.ql-lineheight .ql-picker-label[data-value='2']::before,
.ql-snow .ql-picker.ql-lineheight .ql-picker-item[data-value='2']::before {
  content: '行高 2';
}
.ql-snow .ql-picker.ql-lineheight .ql-picker-label[data-value='3']::before,
.ql-snow .ql-picker.ql-lineheight .ql-picker-item[data-value='3']::before {
  content: '行高 3';
}
.ql-snow .ql-picker.ql-lineheight .ql-picker-label[data-value='4']::before,
.ql-snow .ql-picker.ql-lineheight .ql-picker-item[data-value='4']::before {
  content: '行高 4';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='cms2-celine-en']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='cms2-celine-en']::before {
  content: 'cms2-celine-en';
  font-family: 'celine-en' !important;
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='cms2-grotesk-text']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='cms2-grotesk-text']::before {
  content: '正常';
  font-family: 'Neue_Haas_Grotesk-Text' !important;
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='cms2-grotesk-text-bold']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='cms2-grotesk-text-bold']::before {
  content: 'cms2-grotesk-text-bold';
  font-family: 'Neue_Haas_Grotesk-Text_Bold' !important;
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='cms2-grotesk-text-75Bd']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='cms2-grotesk-text-75Bd']::before {
  content: '英文粗体';
  font-family: 'Neue_Haas_Grotesk-Text_75Bd' !important;
  font-weight: 700;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='cms2-grotesk-text-55Rg']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='cms2-grotesk-text-55Rg']::before {
  content: 'cms2-grotesk-text-55Rg';
  font-family: 'Neue_Haas_Grotesk-Text_55Rg' !important;
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='cms2-grotesk-display-bold']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='cms2-grotesk-display-bold']::before {
  content: 'cms2-grotesk-display-bold';
  font-family: 'Neue_Haas_Grotesk-Display_Bold' !important;
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='cms2-pingfang-sc']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='cms2-pingfang-sc']::before {
  content: 'cms2-pingfang-sc';
  font-family: 'PingFang SC' !important;
}

.ql-formats {
  .ql-picker.ql-font {
    .ql-picker-label {
      overflow: hidden;
    }
  }
}

.ql-snow .ql-picker .ql-picker-options {
  max-height: 280px;
  overflow: auto;
}

@for $fz from 1 through 72 {
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value='#{$fz + 9}px']::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value='#{$fz + 9}px']::before {
    content: '#{$fz + 9}px';
    font-size: 14px;
  }
  .ql-size-#{$fz + 9}px {
    font-size: #{$fz + 9}px;
  }
}

.cms2-grotesk-text-75Bd {
  font-family: 'Neue_Haas_Grotesk-Text_75Bd', 'celine-en', 'noto sans', 'Source Han Sans CN',
    'PingFangSC-Medium', 'PingFang SC', sans-serif;
  font-weight: 700;
}
