.pd-product-picker-container {
  user-select: none;
  --pd-pp-border: 1px solid var(--el-border-color);
  box-sizing: border-box;
  .el-drawer__body {
    padding: 0;
    border-bottom: var(--pd-fp-border);
  }
  .el-drawer__footer {
    padding: 10px;
  }
}
.pd-product-picker {
  display: flex;
  flex-direction: column;
  &__hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
    border-bottom: var(--pd-pp-border);
    .pd-product-picker__selection-list {
      flex: 1;
    }
    .controls {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      & > div {
        margin-right: 10px;
      }
    }
  }
  &__bd {
    height: calc(100vh - 53px - 53px);
    .col-quantity {
      span {
        display: block;
      }
    }
  }
  &__ft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-top: var(--pd-pp-border);
  }
}
.pd-product-picker__category-item {
  font-size: 12px;
  color: #333;
  &.inactive {
    color: #ccc;
  }
}
