// Mobile端
@mixin mb {
  @media (max-width: 1023.9px) {
    @content;
  }
}

@mixin mb-ct {
  @container (max-width: 1023.9px) {
    @content;
  }
}

// PC端
@mixin pc {
  @media (min-width: 1024px) {
    @content;
  }
  @container (min-width: 1024px) {
    @content;
  }
}

// PC端超小屏
@mixin xs {
  @media (min-width: 1024px) and (max-width: 1179px) {
    @content;
  }
  @container (min-width: 1024px)and (max-width: 1179px) {
    @content;
  }
}

// PC端小屏
@mixin md {
  @media (min-width: 1180px) and (max-width: 1365px) {
    @content;
  }
  @container (min-width: 1180px)  and (max-width: 1365px) {
    @content;
  }
}

// PC端中屏
@mixin lg {
  @media (min-width: 1366px) and (max-width: 1659px) {
    @content;
  }
  @container (min-width: 1366px)  and (max-width: 1659px) {
    @content;
  }
}

// PC端大屏
@mixin xl {
  @media (min-width: 1660px) {
    @content;
  }
  @container (min-width: 1660px) {
    @content;
  }
}

// 响应式
@mixin res($property, $mobile: null, $pc: null) {
  $mobileValue: if(unitless($mobile), vw($mobile), $mobile);
  $mobileContainerValue: if(unitless($mobile), #{$mobile}px, $mobile);
  $pcValue: if(unitless($pc), #{$pc}px, $pc);

  // 顺序很重要，pc和mobile，mobile必须在下面，@media 和 @container 的情况需要综合考虑

  @if (exists($pc)) {
    @include pc {
      #{$property}: $pcValue;
    }
  }

  @if (exists($mobile)) {
    @include mb-ct {
      #{$property}: $mobileContainerValue;
    }
    @include mb {
      #{$property}: $mobileValue;
    }
  }
}
